body, html {
  height: 100;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #E7DFC6;
}

/* h3, h4 {
  color: white;
} */

.instructions {
  background-color: #2274A5;
  padding: 15px;
  color: #eee;
  top: 0;
}

.footer {
  background-color: #2274A5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  background-color: #2274A5;
  width: 100%;
  border-radius: 0px;
}

.navbarButton {
  width: 100%;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

 .message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #eeeeee;
} 

/* .btn-danger{
  margin-left: 10px;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* li {
  float: left;
} */

li a {
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #000;
}

/* Additional CSS I'm working on: */

.listDiv {
  background-color: #2274A5;
  padding: 20px 20px;
  border-radius: 9px;
}

.itemDiv {
  background-color: #2274A5;
  margin: 8px;
  border-radius: 8px;
}

.itemBought {
  background-color: #E3C535;
}

.divPad {
  padding: 18px;
}

.bottomPad {
  padding-bottom: 80px;
}

.rightPad {
  padding-right: 12px;
}

/* Prevents weird delay caused by nganimate */
.ng-hide.ng-hide-animate{
     display: none !important;
}