<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <button class="navbar-toggler" style="width: 100%;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-hide="!vm.userService.userObject.userId">
        <a class="nav-link" href="#/user">
          <button class="btn btn-success navbarButton">Your Lists!</button>
        </a>
      </li>
      <li class="nav-item" ng-hide="!vm.userService.userObject.userId">
        <a class="nav-link" href="#">
          <button class="btn btn-danger navbarButton" ng-click="vm.userService.logout()">
            Log Out
          </button>
        </a>
      </li>
      <li class="nav-item" ng-show="!vm.userService.userObject.userId">
        <a class="nav-link" href="#">
          <button class="btn btn-info navbarButton" ng-click="vm.login()">
            Log In or Register!
          </button>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#/info">Info Page</a>
      </li> -->
    </ul>
  </div>

</nav>