<div class="divPad">
  <h3>Register User</h3>
  <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
    <form>
      <div>
        <!-- <label for="username">Username:</label> -->
        <input class="form-control col-sm-4" type="text" ng-model="vm.user.username" placeholder="Username" />
      </div>
      <div>
        <!-- <label for="password">Password:</label> -->
        <input class="form-control col-sm-4" type="password" ng-model="vm.user.password" placeholder="Password" />
      </div>
      <div class="btn-group divPad">
        <button ng-click="vm.registerUser()" class="btn btn-primary" type="submit" name="submit" value="Register">Register</button>
        <button ng-click="vm.cancelRegister()" class="btn btn-warning" type="submit" name="submit" value="Log In">Cancel</button>
      </div>
    </form>

</div>