<div ng-include="'views/partials/nav.html'"></div>



<h1 class="divPad">Welcome, {{vm.userObject.userName}}!</h1>

<div class="container divPad">
    <p><button class="btn btn-primary" style="font-size: 2em;" ng-click="startNewList = !startNewList">Start a new list!!</button></p>

    <div ng-show="startNewList">
        <form>
            <div class="form-group">
                <label for="wishlist.name"><button class="btn">Wishlist Name</button></label>
                <input type="text" placeholder="name of list" ng-model="vm.newList.name" name="wishlist.name">
            </div>


            <div class="form-group">
                <label for="wishlist.description"><button class="btn">Description</button></label>
                <input type="text" placeholder="whats the occasion?" ng-model="vm.newList.description" name="wishlist.description">
            </div>

            <button class="btn btn-danger" ng-click="vm.startList(vm.newList)">Add list!</button>
        </form>
    </div>

    

    <div class="container divPad">
        <h2>Current Lists:</h2>
        <div class="row">
            <div ng-repeat="list in vm.wishlists.lists" class="col-md-4" ng-model="wishlists">
                <p>

                    <div class="listDiv divPad">

                        <span ng-hide="listUpdate">{{list.name}}</span>
                        <span ng-show="listUpdate"><input type="text" placeholder="{{list.name}}" class="form-control" ng-model="list.name"></span>
                        
                        <br>

                        <span ng-hide="listUpdate">{{list.description}}</span>
                        <span ng-show="listUpdate"><input type="text" placeholder="{{list.description}}" class="form-control" ng-model="list.description"></span>

                        <br>

                        <div class="btn-group divPad">
                            <a ng-href="#/wishlist/{{list._id}}">
                                <button class="btn btn-sm btn-info"> Items: {{list.items.length}}</button>
                            </a>

                            <button class="btn btn-sm btn-warning" ng-click="listUpdate = !listUpdate">Update</button>

                            <button class="btn btn-sm btn-warning" ng-click="vm.saveList(list)" ng-show="listUpdate">Save</button>

                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteList(list)">Delete</button>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>