<div ng-include="'views/partials/nav.html'"></div>

<!-- <h1>Welcome, {{vm.userObject.userName}}!</h1> -->

<div class="container bottomPad divPad">
    <p>
        <button class="btn btn-primary" style="font-size: 2em;" data-toggle="modal" data-target="#newListModal">Start a new list!!</button>
    </p>

    <div class="modal fade" id="newListModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add a new List!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Wishlist Name" ng-model="vm.newList.name" name="wishlist.name">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="List Description" ng-model="vm.newList.description" name="wishlist.description">
                        </div>

                        <button class="btn btn-danger" ng-click="vm.startList(vm.newList)" class="close" data-dismiss="modal">Add list!</button>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container divPad">
        <h2>Current Lists:</h2>
        <input class="form-control col-sm-4" placeholder="Filter Lists" ng-model="searchList">
        <div class="row">
            <div ng-repeat="list in vm.wishlists.lists | filter:searchList" class="col-md-8" ng-model="wishlists">
                <p>
                    <div class="listDiv divPad">
                        <p>
                            <div ng-hide="listUpdate">
                                <h4>{{list.name}}</h4>
                            </div>
                            <span ng-show="listUpdate">
                                <input type="text" placeholder="{{list.name}}" class="form-control" ng-model="list.name">
                            </span>

                            <span ng-hide="listUpdate">{{list.description}}</span>
                            <span ng-show="listUpdate">
                                <input type="text" placeholder="{{list.description}}" class="form-control" ng-model="list.description">
                            </span>
                            <button class="btn btn-warning" ng-click="vm.saveList(list)" ng-show="listUpdate">Save</button>
                        </p>

                        <br>

                        <div class="btn-group pull-right">
                            <a ng-href="#/wishlist/{{list._id}}">
                                <button class="btn btn-primary">Items: {{list.items.length}}
                                </button>
                            </a>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Bought: {{ ( list.items | filter: { bought: true } ).length }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a ng-repeat="item in list.items | filter: {bought: true}" class="dropdown-item">{{ item.name }}</a>
                                </div>
                            </div>
                            <button class="btn btn-warning" ng-click="listUpdate = !listUpdate">Update</button>
                            <button class="btn btn-sm btn-danger" ng-click="vm.deleteList(list)">Delete</button>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="footer nav navbar-nav container divPad">
    <button class="btn btn-info" ng-click="vm.backToTop()">Back To Top!</button>
</div>