<div ng-include="'views/partials/nav.html'"></div>

<!-- UIB Alert Test:
<div uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)">
    {{alert.msg}}
</div>

UIB Dropdown Test:
<div class="btn-group" uib-dropdown>
    <button id="split-button" type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
    </ul>
</div> -->

<br>
<div class="container">

    <div class="btn-group">

        <div uib-dropdown>

            <button class="btn btn-warning" type="button" data-toggle="dropdown" uib-dropdown-toggle id="quicklist">Quick List
            <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="quicklist">
                <li role="menuitem"><a href="#">List 1</a></li>
                <li role="menuitem"><a href="#">List 2</a></li>
                <li role="menuitem"><a href="#">List 3</a></li>
            </ul>

        </div>

        <button class="btn btn-primary" style="font-size: 1em;" ng-click="addNewItem = !addNewItem">Add to the List!</button>

    </div>
</div>

<!-- Now we gotta put stuff inside the list yo -->
<br>
<div ng-show="addNewItem" class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="itemName" class="control-label col-sm-2">Add an item:</label>
            <div class="col-sm-10">
                <input name="itemName" type="text" placeholder="item name" ng-model="vm.item.name" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="itemDescription" class="control-label col-sm-2">Item description:</label>
            <div class="col-sm-10">
                <input name="itemDescription" type="text" placeholder="short and sweet" ng-model="vm.item.description" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="itemLink" class="control-label col-sm-2">Link:</label>
            <div class="col-sm-10">
                <input name="itemLink" type="text" placeholder="something specific?" ng-model="vm.item.link" class="form-control">
            </div>
        </div>
        <button class="btn btn-warning" ng-click="vm.addItem(vm.item)">Add!</button>
    </form>
</div>


<br>

<div class="container">
    <h3>
        {{vm.currentList.list.name}}
    </h3>
    <h4>
        {{vm.currentList.list.description}}
    </h4>
    <div class="container">
        <div class="row">

            <div class='itemDiv col-sm-5' ng-repeat="item in vm.currentList.list.items">

                <p>
                    <span>
                    {{item.name}}
                    </span>
                </p>

                <p> <span ng-hide="itemUpdater">
                    {{item.description}}
                    </span>
                    <input type="text" placeholder="{{item.description}}" ng-show="itemUpdater" ng-model="item.description" class="form-control">
                </p>
                <p>
                    <input type="text" placeholder="Add a link!! {{item.link}}" ng-show="itemUpdater" ng-model="item.link" class="form-control">
                </p>

                <p class="btn-group">

                    <a ng-href="{{item.link}}">
                    <button class="btn btn-sm btn-info" ng-if="item.link != null">
                        Link!
                    </button>
                    </a>

                    <button class="btn btn-sm btn-warning" ng-click="itemUpdater = !itemUpdater">Update</button>

                    <button class="btn btn-sm btn-warning" ng-click="vm.updateItem(item)" ng-show="itemUpdater">Save</button>

                    <button class="btn btn-sm btn-danger" ng-click="vm.deleteItem(item)">Delete</button>

                </p>

            </div>
        </div>
    </div>
</div>
<br>


<p class="container">
    <button class="btn btn-danger" style="font-size: 2em;" ng-click="vm.deleteCurrentList()">Delete Current List</button>
</p>