<div ng-include="'views/partials/nav.html'"></div>

<div class="container divPad">
    <div class="btn-group" ng-hide="vm.userObject.userId != vm.currentList.list.userId">
        <button class="btn btn-primary" ng-click="vm.addNewItem = !vm.addNewItem">Add to the List!</button>
        <button class="btn btn-warning">Emailer</button>
    </div>
</div>

<!-- Now we gotta put stuff inside the list yo -->
<div ng-show="vm.addNewItem" class="container divPad">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-10">
                <input name="itemName" type="text" placeholder="Item Name" ng-model="vm.item.name" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input name="itemDescription" type="text" placeholder="Item Description" ng-model="vm.item.description" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input name="itemLink" type="text" placeholder="Link" ng-model="vm.item.link" class="form-control">
            </div>
        </div>
        <button class="btn btn-warning" ng-click="vm.addItem(vm.item)">Add!</button>
    </form>
</div>




<div class="container">
    <h3>
        {{vm.currentList.list.name}}
    </h3>
    <h4>
        {{vm.currentList.list.description}}
    </h4>
    <div class="container">
        <div class="row">

            <div class='itemDiv col-sm-5 divPad' ng-repeat="item in vm.currentList.list.items" ng-style="buyStyle" ng-class="{ 'itemBought' : item.bought }">
                <p>
                    <span>
                    {{item.name}}
                    </span>
                </p>

                <p> <span ng-hide="itemUpdater">
                    {{item.description}}
                    </span>
                    <input type="text" placeholder="{{item.description}}" ng-show="itemUpdater" ng-model="item.description" class="form-control">
                </p>
                <p>
                    <input type="text" placeholder="Add a link!! {{item.link}}" ng-show="itemUpdater" ng-model="item.link" class="form-control">
                </p>

                <div ng-hide="itemUpdater">
                    <label class="checkbox-inline"><input type="checkbox" value="" ng-model="item.bought" ng-click="vm.updateItem(item)"> Bought It! </label>

                    <label ng-hide="vm.userObject.userId" class="checkbox-inline divPad"><input type="checkbox" value="" ng-model="item.secret" ng-click="vm.updateItem(item)"> Shhhh! </label>
                </div>

                <p class="btn-group" ng-hide="vm.userObject.userId != vm.currentList.list.userId">

                    <a ng-href="{{item.link}}">
                    <button class="btn btn-sm btn-info" ng-if="item.link != ''">
                        Link!
                    </button>
                    </a>

                    <button class="btn btn-sm btn-warning" ng-click="itemUpdater = !itemUpdater">Update</button>

                    <button class="btn btn-sm btn-warning" ng-click="vm.updateItem(item)" ng-show="itemUpdater">Save</button>

                    <button class="btn btn-sm btn-danger" ng-click="vm.deleteItem(item)">Delete</button>

                </p>
            </div>
        </div>
    </div>
</div>



<div class="footer navbar-default navbar-fixed-bottom" ng-hide="vm.userObject.userId != vm.currentList.list.userId">
    <div class="container">
        <button class="btn btn-danger" style="font-size: 2em;" ng-click="vm.deleteCurrentList()">Delete Current List</button>
    </div>
</div>